<!DOCTYPE html>
<html>
<head>

	<title>Martinez photobooth</title>
</head>
<body>
	<div>
		<video id='video'>Video</video>
		 <a href="#" id="take-photo">Ta bild</a>
	</div>
<script src="javascripts/index.js"></script>
</body>
</html>