<!DOCTYPE html>
<html>
<head>
	<title>Martinez photobooth</title>
</head>
<body>
	<div>
		<video id='video'>Video</video>
		 <a href="#" id="take-photo">Ta bild</a>
		 <canvas id="video-canvas" width="640" height="480"></canvas>
	</div>
<script src="javascripts/index.js"></script>
</body>
</html>