<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<head>
	<title>Martinez photobooth</title>

</head>
<body>
	<h1>SAY CHEEESE</h1>
	<div>
		<video id="video">Video</video>
		<canvas id="min-canvas" width="640" height="480"></canvas>
		<img id="snap" src="">
		 </div>
		 <div><a href="#" id="take-photo">Ta bild</a>
		 <a href="img" id="spara" download="">Spara</a>
	</div>
<script src="javascripts/index.js"></script>
</body>
</html>