body {
	align-items: center;
}

canvas {
	display: none;
}

h1 { background-color: black;
	color: white;
	padding: 10px;
 }

 #snap {
 	border-style: dotted;
 	border-color: purple;
 	border-radius: 50px;
 }

#take-photo {
	color: pink;
	font-size: 24px;
	text-decoration: none;
	padding: 10px;
	margin-top: 20px;
	float: left;
	background-color: black;
	font-family: arial;

}
#spara {
	color: pink;
	font-size: 24px;
	text-decoration: none;
	padding: 10px;
	margin-top: 20px;
	margin-left: 10px;
	float: left;
	background-color: black;
	font-family: arial;


}